

@font-face {
    font-family: 'Godzilla' ;
    src: url(./FONT/Godzilla.ttf);
    font-weight: normal;
}


.logo{
    font-family: 'Godzilla';
    color: white;
    text-decoration: none;

}

.fondo {
    background-image: url(/img/fondo3.webp);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
a{
    text-decoration: none;
    color: rgb(247, 245, 245);
}

Jumbotron text-center{
    font-family: Godzilla;
}